__pycache__/
*.o
*.pyc
four_star_extras
five_star_extras
certs/*.cnf
certs/*.drat
certs/*.log
leftover_sat_k*.json
two_axis_extras.log
four_star_extras.log
leftover_sat.log
dual_more.log
replay_four_star.log
five_star_s*.err
five_star_s*.log
verify.json
four_star_extras_smoke.json
